@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: 'Optima';
  src: url('./assets/fonts/OPTIMA.TTF') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Optima';
  src: url('./assets/fonts/Optima-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Optima';
  src: url('./assets/fonts/OPTIMA_B.TTF') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font */
}
